@model ClothingStoreWEB.ViewModel.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/RegForm.css" />
<script src="https://accounts.google.com/gsi/client" async defer></script>
<body>
    <form method="post" asp-controller="Account" asp-action="Login"
        asp-route-returnUrl="@Model.ReturnUrl">
        <div asp-validation-summary="ModelOnly"></div>
    

        <h2>User authorization</h2>

        <label asp-for="Email"></label><br />
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email"></span>

        <label asp-for="Password"></label><br />
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password"></span>

        <div class="form-check">
            <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
            <label asp-for="RememberMe" class="form-check-label">Remember me</label>
        </div>


        <input type="submit" value="Sign in" class="btn btn-primary">

        <div id="g_id_onload"
             data-client_id="992057427521-orm7sac523c110scv90qcls72u40c2if.apps.googleusercontent.com"
             data-context="signin"
             data-callback="OnSignIn"
             data-ux_mode="popup"
             data-auto_prompt="false">
        </div>
        <div class="g_id_signin"
             data-type="standard"
             data-shape="pill"
             data-theme="outline"
             data-text="signin_with"
             data-size="large">
        </div>
        
    </form>
    
</body>
    
@section scripts{
    <script>
        function OnSignIn(response) {
            var parts = (response.credential).split('.');
            var header = JSON.parse(atob(parts[0]));
            var payload = JSON.parse(atob(parts[1]));

            var user = {
                Email: payload.email,
                Password: payload.aud,
                RememberMe: true,
                ReturnUrl: null
            };
            console.log(JSON.stringify(user));
            $.ajax({
                url: '/Account/LoginWithGoogle',
                type: 'POST',
                //contentType: 'application/json',
                data: { json_model: JSON.stringify(user) },
                success: function () {
                    // Обробка успішної відповіді
                    window.location.href = '/Home/Index';
                },
                error: function () {
                    // Обробка помилки
                    alert('Login failed');
                }
            });
        }
    </script>
}