@model ClothingStoreWEB.ViewModel.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" href="~/css/RegForm.css" />
<script src="https://accounts.google.com/gsi/client" async></script>
<body>
    <form method="post" asp-controller="Account" asp-action="Register">
        <div asp-validation-summary="ModelOnly"></div>

        <h2>New User Registration</h2>
        <label asp-for="FName"></label><br />
        <input asp-for="FName" class="form-control" />
        <span asp-validation-for="FName"></span>

        <label asp-for="LName"></label><br />
        <input asp-for="LName" class="form-control" />
        <span asp-validation-for="LName"></span>

        <label asp-for="Email"></label><br />
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email"></span>

        <label asp-for="Password"></label><br />
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password"></span>

        <label asp-for="PasswordConfirm"></label><br />
        <input asp-for="PasswordConfirm" class="form-control" />
        <span asp-validation-for="PasswordConfirm"></span>

        <input type="submit" value="Sign up" class="btn btn-primary">

        <div id="g_id_onload"
             data-client_id="992057427521-orm7sac523c110scv90qcls72u40c2if.apps.googleusercontent.com"
             data-context="signup"
             data-ux_mode="popup"
             data-login_uri="https://clothingstoreweb.azurewebsites.net/Account/Login"
             data-auto_prompt="false">
        </div>

        <div class="g_id_signin"
             data-type="standard"
             data-shape="pill"
             data-theme="outline"
             data-text="signup_with"
             data-size="large"
             data-logo_alignment="left">
        </div>
        
    </form>
</body>
